* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #EBE0EB;
}

html {
    background-color: #121212;
}

body {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

header p {
    text-align: center;
}

#title {
    font-size: 3em;
    font-weight: bold;
}

#subtitle {
    font-size: 2.5em;
}

#subtitle a {
    font-size: inherit;
}

#filter-management-btn {
    position:sticky;
    top:5px;
    width:15%;
    padding-left: 85%;
}

#filter-management-btn button {
    width: 100%;
    text-align: center;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    background-color: #9FDEFF;
    color: #121212;
    border: 0;
    font-size: 1.15em;
}

#filter-management p span{
    cursor: pointer;
}

/* Nb of tickets general */
#total-nb-tickets {
    font-weight: bold;
}

#total-nb-tickets span {
    font-style: 2em;
}

/* Nb of tickets (labels) */
#filter-management span.label-count-closed, span.list-count-closed {
    text-decoration: line-through;
}

#filter-management span.label-count-total {
    font-weight: bold;
}

h1 {font-size: 2em;}

h1 * {font-size: inherit;}

h1.list-opened:before {
    content: "V ";
}

h1.list-closed:before {
    content: "> ";
}

.hide {display: none;}

.num-tickets a {
    display: block;
    font-weight: bold;
}

.labels {line-height: 1.4em;}

.label {color:#121212;}

.label {
    padding: 1px 3px 1px 3px;
    cursor: pointer;
    border-radius: 25px;
}

.name div {white-space: pre-wrap;}

.desc {
    margin: 2%;
    background-color: #9FDEFF;
    padding: 0 1% 0 1%;
}

.desc * {color:#121212}

#div-request-visibility-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}
#div-request-visibility-buttons button {
    font-size: 2em;
    background-color: #9FDEFF;
    color: #121212;
    padding: 5px;
}
#div-request-visibility-buttons button.visibility-button-selected {
    background-color: darkgray;
}

.card-global-visbility-hide {
    display: none;
}

table {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border-collapse: collapse;
}

thead th {
    background-color: #660000;
}

td {
    padding: 5px;
    word-wrap: break-word;
    border-style: #EBE0EB;
    border-width: 1px;
    border-style: solid;
}

th:nth-child(1), th:nth-child(2) {
    width: 10%;
}

th:nth-child(3) {
    width: 20%;
}

th:nth-child(4) {
    width: 60%;
}

td.closed-request {
    background-color: darkgray;
}

td.closed-request * {
    text-decoration-line: line-through;
}

/* Search */
#search-form #search-form-table .search-index {
    text-align: right;
    font-weight: bold;
}

#search-form #search-form-table td {text-align: center;}

#search-form #search-form-table {
    margin-bottom: 2em;
}

#search-form #simple-search-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

#search-results #query-used {
    font-style: italic;
}
